#RB-header {
  background-color: rgba(0, 0, 0, 0.8);
  height: 1.47rem;
}
#RB-header ul li {
  line-height: 1.47rem;
}
.APP-main {
  height: 7.59rem;
  width: 19.2rem;
  margin-top: 1.47rem;
  background: url("/images/Smartphone[3].png") no-repeat left top;
  background-size: contain;
}
.APP-main .APP-main-right {
  padding-top: 1rem;
}
.APP-main .APP-main-right .main-right-title {
  position: relative;
}
.APP-main .APP-main-right .main-right-title h3 {
  font-size: 0.6rem;
  color: #333333;
}
.APP-main .APP-main-right .main-right-title span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 5.91rem;
  height: 0.28rem;
  background-color: #384798;
  opacity: 0.3;
}
.APP-main .APP-main-right p {
  width: 5.99rem;
  height: 2.34rem;
  font-size: 0.24rem;
  color: #333333;
  line-height: 0.4rem;
  padding-top: 0.48rem;
}
.APP-main .APP-main-right .main-right-er {
  margin-left: 0.78rem;
  padding-top: 0.5rem;
  height: 2rem;
}
.APP-main .APP-main-right .main-right-er div {
  width: 1.45rem;
  height: 1.45rem;
}
.APP-main .APP-main-right .main-right-er div img {
  max-width: 1.45rem;
}
.APP-main .APP-main-right .main-right-er em {
  width: 1.45rem;
  text-align: center;
  font-size: 0.24rem;
  color: #333333;
  padding-top: 0.14rem;
}
#RB-footer {
  background-color: rgba(0, 0, 0, 0.9);
}
