/* banner */

#RB-banner {
    width: 19.2rem;
    height: 10rem;
    background: url("/images/矩形1.png");
    background-size: contain;
    position: relative;
}

#RB-banner img {
    max-width: 19.2rem;
}

#RB-banner #RB-banner-font {
    width: 8rem;
    height: 4rem;
    position: absolute;
    left: 2.8rem;
    top: 3.5rem;
}
#RB-banner #RB-banner-font .index-btn-use1{
    text-align: center;
    line-height: 0.7rem;
}

#RB-banner #RB-banner-font h3 {
    font-size: 0.48rem;
    color: #fff;
    line-height: 0.7rem;
}

#RB-banner #RB-banner-font h1 {
    font-size: 1.05rem;
    color: #fff;
    line-height: 1.5rem;
}
#RB-banner #RB-banner-font span{
    font-size: 0.3rem;
}

#RB-banner #RB-banner-font p {
    color: #fff;
    line-height: 0.5rem;
    font-size: 0.22rem;
    margin-top: 0.1rem;
    margin-bottom: 0.15rem;
}

/* problems */

#RB-problems {
    height: 9.34rem;
}

#RB-problems>div {
    padding-top: 0.64rem;
}

#RB-problems p {
    font-size: 0.28rem;
    line-height: 0.72rem;
    color: #22628c;
    font-weight: 600;
}

#RB-problems h3 {
    font-weight: 600;
    font-size: 0.38rem;
    line-height: 0.6rem;
    color: #22628c;
}

#RB-problems span {
    display: block;
    height: 0.06rem;
    width: 2.23rem;
    background-color: #22628c;
    margin-left: 0.02rem;
}

#RB-problems .RB-three-problems {
    width: 33.33%;
    height: 4.8rem;
}

#RB-problems .RB-three-problems .RB-three-problems-main {
    width: 72%;
    padding-top: 0.9rem;
}

#RB-problems .RB-three-problems .RB-three-problems-main img {
    margin: 0 auto;
    width: 1.03rem;
}

#RB-problems .RB-three-problems .RB-three-problems-main h4 {
    font-size: 0.3rem;
    font-weight: 600;
    color: #333333;
    line-height: 0.6rem;
    text-align: center;
}

#RB-problems .RB-three-problems .RB-three-problems-main p {
    font-size: 0.24rem;
    line-height: 0.46rem;
    color: #333;
    font-weight: 500;
    margin-top: 0.2rem;
}

#RB-problems .RB-three-problems2 .RB-three-problems-main {
    margin: 0 auto;
}

#RB-problems .RB-three-problems3 .RB-three-problems-main {
    margin-left: 50%;
}

/* advantage */

#RB-advantage {
    height: 5.97rem;
    padding-top: 0.5rem;
    background-color: #041225;
}

#RB-advantage .RB-advantage-box {
    width: 28%;
    transform-style: preserve-3d;
    perspective: 10rem;
}

#RB-advantage .RB-advantage-box+.RB-advantage-box {
    margin-left: 1.1rem;
}

#RB-advantage .RB-advantage-box .RB-advantage-img {
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
}

#RB-advantage .RB-advantage-box .RB-advantage-img img {
    width: 1.8rem;
    margin: 0 auto;
    animation: heart 3s ease-in-out 2s infinite alternate;
}

#RB-advantage .RB-advantage-box h4 {
    height:0.8rem;
    line-height: 0.8rem;
    margin-bottom: 0.4rem;
    text-align: center;
    color: #fff;
    padding-left: 0.8rem;
    font-size: 0.3rem;
}

#RB-advantage .RB-advantage-box:first-child h4 {
    background: url("/images/银行卡支付账单付款金钱储存卡.png") no-repeat;
    background-position:  0.4rem center;
    background-size: 0.56rem;
}

#RB-advantage .RB-advantage-box:nth-child(2) h4 {
    background: url("/images/稳定.png") no-repeat;
    background-position:  0.4rem center;
    background-size: 0.56rem;
}

#RB-advantage .RB-advantage-box:last-child h4 {
    background: url("/images/高效.png") no-repeat;
    background-position:  0.4rem center;
    background-size: 0.56rem;
}

#RB-advantage .RB-advantage-box p {
    color: #fff;
    line-height: 0.4rem;
    font-size: 0.18rem;
}

/* choose */

#RB-choose .RB-choose-content .q10000 {
    font-size: 0.6rem;
    line-height: 1.3rem;
}

#RB-choose .RB-choose-content .devChoose {
    font-size: 0.5rem;
    line-height: 1.1rem;
}

/* 图标浮动效果 */

@keyframes heart {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 0.3rem);
    }
}